$primary-dark-color: #2e2e2edf;
$primary-light-color: #ffffff;
$primary-text-color: #757575;
$header-color: #3f51b5;
$secondary-color: #ff5722;
$background-color: #f1f2f2;
$table-titles-color: #3f51b5;
$secondary-buttons-color: #3f51b5;

$main-silver-color: #c5c5c591;
$modal-background-color: #2e2e2e83;
$primary-font-stack: "Work Sans", sans-serif;
