@media (min-width: 1200px) {
  .c-banner--background {
    background-image: url("../img/banner-bgrnd_1920x817.jpg");
    width: 100%;
    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
      background-image: url("../img/banner-bgrnd_1920x817@2x.jpg");
    }
  }

  .l-banner__box {
    justify-content: flex-start;
    height: 817px;
    margin-left: 165px;
  }

  .l-banner-content {
    text-align: left;
    padding-top: 247px;
  }

  .c-banner__logo {
    font-size: 70px;
  }

  .c-banner__text {
    font-size: 23px;
    letter-spacing: 1.1px;
    margin-bottom: 44px;
  }

  .c-banner__btn::after {
  
  }
}
