<table>
  <tbody>
    <tr>
      <th contenteditable="true"></th>
      <th contenteditable="true"></th>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td data-step="3" data-intro="In first cell write a text you want, to describe a part of your chart." t="s"
        contenteditable="true"></td>
      <td data-step="4" data-intro="In the second cell, write a number value." t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
    <tr>
      <td t="s" contenteditable="true"></td>
      <td t="n" contenteditable="true"></td>
    </tr>
  </tbody>
</table>