.interface-section {
  order: 2;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    order: 1;
  }
  @media (min-width: 1280px) {
    margin-right: 50px;
    width: 518px;
  }
}

.interface__icon--download {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512' %3E%3Cpath d='M382.56 233.376A15.96 15.96 0 0 0 368 224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832 0-16 7.168-16 16v208h-64a16.013 16.013 0 0 0-14.56 9.376c-2.624 5.728-1.6 12.416 2.528 17.152l112 128A15.946 15.946 0 0 0 256 384c4.608 0 8.992-2.016 12.032-5.472l112-128c4.16-4.704 5.12-11.424 2.528-17.152z' data-original='%23000000' class='active-path' data-old_color='%233f51b5' fill='%233f51b5'/%3E%3Cpath d='M432 352v96H80v-96H16v128c0 17.696 14.336 32 32 32h416c17.696 0 32-14.304 32-32V352h-64z' data-original='%23000000' class='active-path' data-old_color='%233f51b5' fill='%233f51b5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.interface__icon--palette {
  @extend .interface__icon--download;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 302 302' width='96' height='96'%3E%3Cpath d='M11.815 65.812C4.246 73.252 10.639 80.891.58 92.215c-4.54 5.113 18.69 3.554 30.199-7.76 4.882-4.798 3.505-11.793-1.731-16.941s-12.352-6.5-17.233-1.702zM95.701 1.293C91.815-2.524 48.806 31.94 36.002 44.528c-6.354 6.246-8.476 9.595-10.424 12.1-.847 1.087.272 1.424.776 1.681 2.517 1.281 4.277 2.475 6.553 4.712 2.277 2.237 3.492 3.968 4.795 6.441.261.496.604 1.597 1.708.766 2.55-1.915 5.955-4.001 12.309-10.248C64.524 47.392 99.583 5.111 95.701 1.293z' data-original='%23030104' class='active-path' data-old_color='%233f51b5' fill='%233f51b5'/%3E%3C/svg%3E");
  cursor: pointer;
}

.interface__save-btn {
  background-color: $secondary-color;
  color: $primary-light-color;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 28px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.user-interface {
  position: relative;
  margin-top: 30px;
  background-color: $primary-light-color;
  box-shadow: -7px 6px 24px -5px rgba(0, 0, 0, 0.29);
  margin-bottom: 30px;
  @media (min-width: 1280px) {
    min-height: 510px;
    margin-top: 40px;
  }
}

.file-name {
  color: $primary-text-color;
}

.interface {
  padding: 17px 26px;
  position: relative;
}

.interface__controllers {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 210px;
  justify-content: space-between;
}

.interface__color-palette {
  position: absolute;
  top: 62px;
  left: 10px;
}

.color-palette--hide {
  display: none;
}

.interface__clear-btn > span {
  &::before,
  &::after {
    position: absolute;
    left: 50%;
    content: "";
    display: inline-block;
    width: 3px;
    height: 16px;
    background-color: $secondary-buttons-color;
  }
  &::before {
    transform: translate(-50%) rotate(47deg);
  }
  &::after {
    transform: translate(-50%) rotate(-47deg);
  }
}

.interface__pdf-btn {
  position: relative;
  color: $primary-light-color;
  background-color: $secondary-color;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 10px 13px 53px;
  cursor: pointer;
  margin-bottom: 30px;
  @media (min-width: 1280px) {
    padding: 18px 17px 18px 55px;
  }
}

.pdf-icon {
  background: url("/src/svg/pdf-file.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
  transform: translate(30%, 14%);
  @media (min-width: 1280px) {
    width: 43px;
    height: 43px;
    transform: translate(13%, 12%);
  }
}

input[type="file"] {
  width: 31.1px;
  height: 52px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 3;
  cursor: pointer;
}
