.interface__user-table {
  padding-bottom: 15px;
}

tr {
  border: 1px solid #acacac;
}

table {
  max-width: 460px;
}

textarea {
  resize: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  &:focus {
    outline: none;
  }
}

td {
  padding: 3px 1px;
  font-size: 12px;
  border-right: 1px solid #acacac;
  min-width: 110px;
  max-width: 110px;
  @media (min-width: 1280px) {
    font-size: 16px;
    padding: 6px 8px;
    min-width: 213px;
    max-width: 213px;
  }
}

th {
  @extend td;
  font-size: 16px;
  height: 16px;
  color: $table-titles-color;
  font-weight: 600;
  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

td:focus {
  background-color: #ffeee8;
  outline: 0;
}

.interface__clear-btn {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 1%;
  right: 6%;
  cursor: pointer;
}
